.rlcml{
  width: 400px; 
  height: 200px; 
  border: 2px solid #2B645A; 
  margin: 0 auto;
overflow: hidden;
transition: all 0.8s ease-in-out;
  display: flex;
}

.rlcmlgif{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px; 
  height: 200px; 
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  overflow: hidden;
}

.rlcmlquo1{
  position: relative;
  width: 20px;
  height: 200px;
  left: -190px;
  padding: 8px 5px;
  background:  linear-gradient(80deg, rgba(0,0,0,.8) 0%, #080808 47%, rgba(0,0,0,.8) 100%);
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.8s ease-in-out;
  transition-delay: 1.6s;
}

.rlcmlquo1-txt{
  font-family: 'Open Sans';
  text-transform:uppercase;
  font-size: 17px;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: whitesmoke;
  transition: all 0.8s ease-in-out;
  margin-top: -6px;}

.rlcml:hover .rlcmlquo1-txt{
  filter: blur(13px);
  transition: all 0.8s ease-in-out;}

.rlcml:hover .rlcmlquo1{
  left: -250px;
  transition: all 0.8s ease-in-out;
  transition-delay: 0.3s;}

.rlcmlsigov1{
  width: 150px;
  height: 200px;
  background: rgba(0,0,0,0.7);
  position: absolute;
  top: 0px;
  left: 400px;
  transition: all ease-in-out 1s;
  transition-delay: 0.7s;}

.rlcmlsigov2{
  width: 250px;
  height: 200px;
  background: rgba(0,0,0,0.7);
  position: absolute;
  top: 0px;
  left: -250px;
  transition: all ease-in-out 1s;
  transition-delay: 0.7s;}

.rlcml:hover .rlcmlsigov2{
  left: 0px;
  transition: all ease-in-out 1s;
  transition-delay: 0.8s;
}

.rlcml:hover .rlcmlsigov1{
  left: 250px;
  transition: all ease-in-out 1s;
  transition-delay: 0.8s;
}

.rlcmldnq1{
  width: 360px; 
  height: 160px;
  transition: all ease-in-out 1s; 
  position: absolute; 
  opacity: 0; 
  display: flex;
  align-items: center; 
  justify-content: center;
  filter: blur(13px);
  top: 17px; 
  padding: 20px;    backdrop-filter: blur(2px); 
  background: rgba(0,0,0,0.3);
  transform: scale(0);
  white-space: pre-line;}

.rlcml:hover .rlcmldnq1{
  transform: scale(1);
  opacity: 1;
  filter: blur(0px); 
  transition: all ease-in-out 1s;
  transition-delay: 1.4s;}

.rlcmldnq1 c{
  width: 220px;
  font-family:spline sans mono;
  text-transform:uppercase;
  font-size: 8px;
  color: #ababab;
  letter-spacing: 1px;
  line-height: 140%;
  display:block;
  text-align: justify;	
  overflow: auto;
	height: 100px;
  margin-left: -15px;
	padding-right: 4px;
	margin-right: -85px;
}

.rlcmldnq1 b{color: #4D4187; font-weight: 500;}

.rlcmldnq1 i{font-size: 30px; color: transparent;text-shadow: 2px 2px 20px #4D4187;-webkit-text-stroke: 1px #ababab;opacity: .8;}

.rlcmldnq1 span{width: 1px; height: 40px; background: #4D4187; transform:rotate(20deg);}

	.rlcmldnq1 c::-webkit-scrollbar {
		width: 1px;
		height: 1px;
		display: none;
	}
