#eleob {
width: 300px;
height: 200px;
margin: 10px auto;
border: 5px solid #1a1a1a;
outline: 3px double rgb(145, 92, 71); 
outline-offset: -10px;
position: relative; 
overflow: hidden;} 
   
.eleot {
display: flex; 
flex-direction: column; 
font-family: monospace; 
text-transform: uppercase; 
color: rgb(145, 92, 71); 
font-size: 25px; 
letter-spacing: 10px;
text-shadow: 1px 1px 1px white; 
font-weight: bolder;
position: absolute; 
left: 70px; 
bottom: 10px; 
transform: translateX(0px); 
transition: all 1s ease-in-out; 
transition-delay: .2s;} 

.eleot ss {
font-family: 'Courier New', Courier, monospace; 
text-transform: uppercase; 
color: whitesmoke; 
font-size: 8px; 
position: relative; 
text-align: justify; 
left: 3px;
z-index: 2; 
letter-spacing: 0.5px;
text-shadow: none;}

#eleob:hover .eleot {
transform: translateY(100px); 
transition: all 0.5s ease-in-out;} 

.eleoh {
width: 100px; 
height: 200px; 
display: flex;
padding: 10px;
align-items: center; 
justify-content: center; 
box-sizing: border-box; 
position: relative; 
left: -300px; 
transition: all 1s ease-in-out;} 

#eleob:hover .eleoh {
left: 0px; 
transition: all 1s ease-in-out; 
transition-delay: .2s;} 

.eleoh:after {
content: ""; 
width: 100px; 
height: 200px; 
position: absolute; 
background: rgb(178, 99, 67); 
mix-blend-mode: multiply; 
z-index: 1; }

.eleoh mm {
font-family: calibri;
text-transform: uppercase;
font-style: italic;
color: rgb(113, 56, 33); 
font-size: 25px; 
letter-spacing: 5px;
position: relative; 
writing-mode: vertical-lr;
transform: rotate(180deg);
z-index: 2; 
line-height: 20px;
text-shadow: 1px 1px 1px whitesmoke; 
bottom: -5px;
left: -5px;} 

.eleoh pp {
font-family: calibri; 
text-transform: uppercase; 
font-size: 8px; 
position: relative; 
z-index: 2; 
color: whitesmoke; 
bottom: 0px;
right:0px;
line-height: 8px;
writing-mode: vertical-rl;
transform: rotate(180deg);
text-align: justify; 
}
