#fd {
  width: 250px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  border: 8px solid #1d1d1d;
  outline-offset: -5px;
  outline: 1px solid rgb(145, 92, 71);
  transition: 1.5s;
}

#fd:hover{
  width: 250px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  border: 8px solid #1d1d1d;
  outline: 1px double rgb(145, 92, 71);
  outline-offset: -5px;
  transition: 1.5s;
}

.fdh{
  width: 250px;
  height: 200px;
  margin-top: 0px;
  opacity: 0;
  background-image: url("https://i.pinimg.com/564x/c7/2f/b8/c72fb8d85f856d149bf3941318126f2d.jpg") ;
  transition: 1.5s;
  z-index: 1;
}

#fd:hover .fdh{
  width: 250px;
  height: 200px;
  margin-top: 0px;
  background-image: url("https://i.pinimg.com/564x/c7/2f/b8/c72fb8d85f856d149bf3941318126f2d.jpg");
  filter: grayscale(100%);
  opacity: 0.5;
  transition: 1.5s;
  z-index: 1;
}


.fd-ti {
  width: 250px;
  height: 50px; 
  margin: 0 auto;
  transform: translateY(0px);
  opacity: 1;
  transition: 1.5s;
  position: relative;
  top: 20px;
  left: -5px;
  text-align: right;
  font-family: 'Bad Script';
  text-transform: lowercase; 
  color: rgb(145, 92, 71);
  font-size: 40px; 
  text-shadow: 1px 1px rgb(245, 245, 245, 0.8);
}

#fd:hover .fd-ti{
  opacity: 1;
  transform: translateY(-85px);
  transition-delay: 1s;
}

.fd-txt{
font-family: 'Courier New', Courier, monospace; 
text-transform: uppercase; 
color: #cacaca; 
font-size: 8px; 
line-height: 10px;
position: relative; 
text-align: justify;
top:-30px; 
left: 5px;
width: 240px;
  height: 85px; 
  padding-top: 5px;
letter-spacing: 0.5px;
 transform: translateY(0px);
  opacity: 1;
  transition: 1s;
  }

#fd:hover .fd-txt{
  opacity: 1;
  transform: translateY(-66px);
  transition-delay: 1.5s;
}
