#keyla-f {
  margin: auto;
  width: 340px;
  height: 200px;
  background: #111;
  justify-content: center;
  align-items: center;
  border: 11px solid #0a0a0a;
  position: relative;
  overflow: hidden;
  outline-offset: -7px; 
  outline: 3px solid #416576;
}

 /**IZQUIERDA**/
#keyla-f .circleL {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  transform: rotate(45deg);
  position: absolute;
  right: 19px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  transition: all 0.5s ease-in-out;
  border-left: 2px solid transparent; 
}

#keyla-f:hover .circleL {
  transform: rotate(130deg);
  transition: transform 0.5s ease-in-out, border-right 0.5s ease, border-top 0.5s ease;
  border-right: 2px solid transparent; 
  border-top: 2px solid transparent;
  border-left: 3px solid #416576; 
}

 /**ABAJO**/
#keyla-f .circleB {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  transform: rotate(45deg);
  position: absolute;
  right: 20.2px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid transparent;
}

#keyla-f:hover .circleB {
  transform: rotate(-52deg);
  transition: transform 0.5s ease-in-out, border-right 0.5s ease, border-top 0.5s ease;
  border-right: 2px solid transparent; 
  border-top: 2px solid transparent;
  border-bottom: 3px solid #416576;
}

/**BOX**/
#keyla-f .box {
  width: 340px;
  height: 200px;
  background: rgba(65,101,118,2);
  transform: translateX(-415px);
  padding-right: 120px;
  margin-top: -1px;
  transition: all 1s ease-in-out;
}
#keyla-f:hover .box {
  transform: translateX(0px);
  transition: all 0.7s ease-in-out;
  opacity: 0.5;
}

/*TEXTO*/
#keyla-f .text {
  font-size: 7px;
  font-family: 'Fjalla One', sans-serif;
  text-align: justify;
  margin: 0 auto;
  padding-top: 152px;
  padding-left: 40px;
  padding-right: 35px;
  color: #ffff;
  text-transform: uppercase; 
  letter-spacing: 4px;
}

/*LINEA*/
#keyla-f .line {
  width: 200px; 
  height: 1px; 
  border-bottom: 1px solid blue;
  margin: 0 auto;
  margin-left: 70px;
}


/*PRUEBA LETRAS*/
#keyla-f span {
  font-weight: bolder;
  color: #ffff;
  text-shadow: 1px 1px 0px blue;
  font-family: 'Fjalla One', sans-serif;
  -webkit-text-stroke: 0.5px black;
  text-transform: uppercase; 
  letter-spacing: 2px;
}
