.blockfirm {
  width: 300px;
  height: 180px;
  margin: 0 auto;
  border: 8px solid black;
  outline: 1px double #bfa57c;
  outline-offset: -6px;
  filter: grayscale(20%);
  background-blend-mode: multiply;
  overflow: hidden;
}

.hover3 {
width: 300px;
height: 180px;
margin-left: 130px;
transition: all 1s ease-in-out;
opacity: 1;
background-color: rgb(191, 165, 124, 1);
transform: translateX(-415px);
}

.blockfirm:hover .hover3 {
  margin-left: 415px;
  opacity: 1;
  blackground-color: rgb(191, 165, 124, 0.3);
  transition: all 0.7s ease-in-out;
}


.hover2 {
width: 300px;
height: 190px;
margin-left: 985px;
margin-top: -18px;
transition: all 1s ease-in-out;
opacity: 1;
background-color: rgb(191, 165, 124, 1);
transform: translateX(-415px);
}

.blockfirm:hover .hover2 {
  margin-left: 415px;
  opacity: 1;
  background-color: rgb(191, 165, 124, 0.3);
  transition: all 0.7s ease-in-out;
}

.myname {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  color: white;
  position: relative;
  top: 105px;
  left: 15px;
}

.mytext{
  width: 100px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Fjalla One', sans-serif;
  top: 60px;
  left: 18px;
  color: #adadad;
  font-size: 8px;
  text-transform: lowercase;
  letter-spacing: 2px;
  line-height: 0.9;
}
