
.bf1 {
    background: var(--fondo-base);
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    padding: 30px;
    font-size: 14px;
    text-align: justify;
    line-height: 14px;
}

/**APERTURA**/
.bf1 .inic {
    font-weight: bolder;
   text-align: center;
    letter-spacing: 4px;
    font-size: 18px;
font-family: 'Rowdies', cursive;
    -webkit-text-stroke: .5px #758527;
    color: transparent;
    border-bottom: 2px solid #758527;
    padding-bottom: 3px;
  border-top: 2px solid #758527;
  padding-top: 3px;
}

.bf1 .full {
 font-family: 'Rowdies', cursive;
  color: #758527;
   text-align: center;
    letter-spacing: 4px;
    font-size: 18px;
}
  
.bf1 .datis {
 text-transform: uppercase;
 font-size: 8px;
 letter-spacing: 3px;
 text-align: center;
 margin-top:3px;
}

.datis i{
  color: #758527;
  -webkit-text-stroke: .5px #758527;
    color: transparent;
  font-size: 8px; 
    margin: 0 2px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.kittypost {
    margin-top: 5px;
}

.bf1 strong {
  color: #758527;
}


/**RESPUESTA**/ 
.bf1 .resp {
    border-bottom: 2px solid #758527;
  border-top: 2px solid #758527;
  margin-top: 7px;
}

.datis.abajo {
   text-transform: uppercase;
 font-size: 8px;
 letter-spacing: 3px;
 text-align: center;
 margin: 4px 0;
}

.datis i {
  color: #758527;
  -webkit-text-stroke: .5px #758527;
    color: transparent;
  font-size: 8px; 
    margin: 0 2px;
}
